body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px; /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

    .sidebar .nav-link .feather {
        margin-right: 4px;
        color: #999;
    }

    .sidebar .nav-link.active {
        color: #007bff;
    }

        .sidebar .nav-link:hover .feather,
        .sidebar .nav-link.active .feather {
            color: inherit;
        }

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

    .form-control-dark:focus {
        border-color: transparent;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }

/*
 * Utilities
 */

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.add_device_input {
    width: 250px;
}

.add_device_table {
    width: 500px;
}

.registered_device_list {
    width: 100%;
    margin-top: 40px;
}

.registered_device_container {
    width: 100%;
    float: left;
}

.registered_device_item {
    margin-right: 30px;
    margin-bottom: 30px;
    float: left;
}

.config_device_name {
    font-weight: bold;
}

.tab_item {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    background-color: #ffffff;
}

.tab_item:hover {
    background-color: #e5e5e5;
}

.tab_item_not_selected {
    border-bottom: solid 1px #aaa;
    position: relative;
    bottom: 9px;
}

.tab_item_selected {
    border-bottom: #ffffff;
    border-left: solid 1px #aaa;
    border-right: solid 1px #aaa;
    border-top: solid 1px #aaa;
    position: relative;
    bottom: 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#tab_pages_configuration {
    margin-top: 30px;
}

#tab_pages_configuration > div {
    margin-top: 20px;
    width: 100%;
}

#tab_pages_configuration > div > form {
    width: 650px;
}

#config_list_div_container {
    width: 650px;
}

#config_device_name_nav {
    font-weight: bold;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.device_last_seen {
    font-weight: bold;
}

#console_logs {
    width: 100%;
    height: 640px;
    overflow-y: scroll;
    background-color: #000000;
    color: #eeeeee;
    padding: 15px;
    font-family: 'Lucida Console';
    font-size: 9pt;
}

.login_form {
    border: solid 1px #bbbbbb;
    border-radius: 6px;
    margin-top: 120px;
    padding: 60px;
}