@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Add new Device</h2>
<table class="add_device_table" cellpadding="10">
    <tbody>

        <tr>
            <td>Name</td>
            <td>
                <input id="add_device_name" type="text" class="form-control add_device_input" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1" />
            </td>
        </tr>
        <tr>
            <td>Platform</td>
            <td>
                <input id="add_device_platform" type="text" class="form-control add_device_input" placeholder="Eg. ESP32, or Arduino" aria-label="Platform" aria-describedby="basic-addon1" />
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <button onclick="document.app.submitNewDevice();" class="btn btn-primary btn-sm">Add</button>
            </td>
        </tr>

    </tbody>
</table>

<div id="registered-device-list" class="registered_device_list"></div>

<template id="registered-device-template">
    <div class="alert alert-secondary" role="alert">
    </div>
</template>